button {
  border: none;
  background-color: rgb(160, 150, 224);
  font-size: 18px;
  color: rgb(10, 10, 10);
  font-weight: bold;
  cursor: pointer;
  border-radius: 15px;
  outline: none;
}

button:hover {
  background-color: rgb(70, 66, 99);
  color: rgb(144, 180, 180);
}

.equals {
  grid-column: 3 / 5;
  background-color: rgb(161, 27, 10);
}

.equals:hover {
  background-color: rgb(92, 16, 3);
  color: rgb(180, 180, 180);
}
